<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Florent Viel &lt;florent.viel69@gmail.com&gt;">
    <title>CV de Florent Viel</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700|Economica:700' rel='stylesheet' type='text/css'>
    <link href="css/cv.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-sm-4">
          <div role="complementary" itemscope itemtype="http://data-vocabulary.org/Person">
            <div id="photo">
              <img src="http://florentviel.com/wp-content/themes/wp-bootstrap/images/moi.jpg" alt="Photo de Florent Viel" itemprop="photo" /><br />
              <img src="http://florentviel.com/wp-content/themes/wp-bootstrap/images/photo-base.png" />
            </div>
            <div>
              <h3 itemprop="name" id="fullname">Florent Viel</h3>
            </div>
            <div id="bio">
              <p>
                <span itemprop="title">Développeur et Chef de projet</span> chez <span itemprop="affiliation">Wanadev</span>. J'habite &agrave; <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"><span itemprop="locality">Lyon</span> dans le <span itemprop="region">Rh&ocirc;ne</span></span>. J'ai obtenu un DUT en Informatique en Juin 2010. Je suis passionné de nouvelles technologies. En veille permanente sur le web, je suis toujours à l'affut des nouveautés qui sortent dans le monde de la programmation web, du design et des startups.
              </p>
            </div>
            <div id="social">
              <div class="list-group">
                <a class="list-group-item" href="http://twitter.com/florent_viel" target="_blank"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
                <a class="list-group-item" href="http://facebook.com/luxifer666" target="_blank"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
                <a class="list-group-item" href="http://www.linkedin.com/in/florentviel" target="_blank"><i class="fa fa-fw fa-linkedin"></i> LinkedIn</a>
                <a class="list-group-item" href="https://plus.google.com/+FlorentViel/posts" rel="author" target="_blank"><i class="fa fa-fw fa-google-plus"></i> Google+</a>
                <a class="list-group-item" href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
                <a class="list-group-item" href="https://github.com/luxifer" target="_blank"><i class="fa fa-fw fa-github"></i> Github</a>
                <a class="list-group-item" href="http://blog.luxifer.fr" itemprop="url" target="_blank"><i class="fa fa-fw fa-link"></i> Blog</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-8 col-sm-8">
          {{.}}
        </div>
      </div>
    </div>
    <script src="js/cv.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32451634-1']);
      _gaq.push(['_setDomainName', 'florentviel.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
