<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Florent Viel &lt;florent.viel69@gmail.com&gt;">
    <title>CV de Florent Viel</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway|Economica:700' rel='stylesheet' type='text/css'>
    <link href="css/cv.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-4 col-sm-4">
          <div class="row">

          </div>
        </div>
        <div class="col-xs-12 col-md-8 col-lg-8 col-sm-8">
          <div class="row">
            {{.}}
          </div>
        </div>
      </div>
    </div>
    <script src="js/cv.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32451634-1']);
      _gaq.push(['_setDomainName', 'florentviel.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
